/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpHeading {
	display: block;
	float: none;
	background-color: #DDDDFF;
	clear: both;
	padding: 3px;
}
.markItUp .markItUpButton {
	padding: 3px;
}
